@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    background-color: #060620;
    font-family: 'Poppins';
    padding: 50px;
}
.container-fluid {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid .col-12 {
    color: #fff;
    justify-content: center;
    text-align: center;
}
.container-fluid .col-12 #logo {
    width: 200px;
    height: 200px;
}
.btn {
    width: 700px;
    padding: 10px;
}
.title {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 480px) {
    body {
        background-color: #060620;
        font-family: 'Poppins';
        padding: 20px;
    }
    .container-fluid {
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-fluid .col-12 {
        color: #fff;
        justify-content: center;
        text-align: center;
    }
    .title {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .container-fluid .col-12 #logo {
        width: 140px;
        height: 140px;
    }
    .btn {
        width: 180px;
        padding: 5px;
        font-size: 16px;
    }
  }